.movies-card {
  position: relative;
}

.movies-card__img-wrapper {
  position: relative;
}

.movies-card__image {
  display: block;
  max-width: 360px;
  width: 100%;
  border-radius: 6px;
}

.movies-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14px;
}

.movies-card__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.movies-card__time {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 4px;
  background-color: #2f2f2f;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8b8b8b;
}

.movies-card__btn {
  opacity: 0;
  border: none;
  outline: none;
  background-color: #313131;
  border-radius: 30px;
  padding: 6px 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: all 0.3s linear;
}

.movies-card__btn_success {
  background: url('../../images/save-icon.svg') no-repeat center;
  width: 21px;
  height: 21px;
  opacity: 1;
}

.movies-card__btn_delete {
  background: url('../../images/delete-icon.svg') no-repeat center;
  width: 21px;
  height: 21px;
}

.movies-card__img-wrapper:hover .movies-card__btn {
  opacity: 1;
}

@media screen and (max-width: 1350px) {
  .movies-card__image {
    max-width: 339px;
  }
}

@media screen and (max-width: 800px) {
  .movies-card__wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 1140px) {
  .movies-card__image {
    max-width: 300px;
  }
}
