.promo {
  min-height: 524px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../images/promo.svg') no-repeat center;
  background-color: #073042;
  box-sizing: border-box;
}

.promo__title {
  margin: 0;
  max-width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 800px) {
  .promo {
    min-height: 784px;
  }
}

@media screen and (max-width: 600px) {
  .promo__title {
    font-size: 40px;
    line-height: 1.26;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    min-height: 570px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
