.navigation {
  margin-left: 44px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover {
  color: #3ddc84;
}
