.saved-movies {
  background-color: #202020;
}

.saved-movies__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 1220px) {
  .saved-movies__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .saved-movies__container {
    padding: 0 10px;
  }
}
